body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
}

h2 {
    text-align: center;
    margin-left: 26%;
    color: rgb(202, 184, 19);
}

h3 {
    color: aqua;
}

hr {
    border: 2px solid rgb(247, 95, 7);
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100vh; /* Define a altura da barra lateral para ocupar toda a altura da janela visível */
    background-color: #252323;
    color: #fff;
    padding: 20px;
    overflow-y: auto; /* Adiciona rolagem vertical se a altura do conteúdo for maior do que a altura da barra lateral */
}


.profile img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 10px;
    margin-left: 50px;
}

.social-media {
    display: flex;
    justify-content: center; /* Alinha os itens horizontalmente ao centro */
    margin-left: 30%;
}

.social-media a {
    display: block;
    color: #000000;
    text-decoration: none;
    margin-bottom: 5px;
    margin: 0 10px;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
}

.navbar ul li {
    margin-bottom: 10px;
}

.navbar ul li a {
    color: #fff;
    text-decoration: none;
}

.parallax {
    background-image: url('media/space.gif');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.parallax-content {
    text-align: center;
    margin-left: 16%;
}

.container {
    max-width: 960px;
    margin: 50px auto;
    padding: 0 20px;
}

.experiencia {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Cria duas colunas de largura igual */
    gap: 20px; /* Adiciona espaçamento entre as colunas */
}

.experiencia h3 {
    margin-top: 0; /* Remove a margem superior padrão */
}